:root {
  --site-font-family: 'Lexend Deca', "Arial", sans-serif;
  --buttons-hover-color: #FCB72B;
  --headings-color: #495567;
  --font-color: #939CAA;
  --footer-color: #333A44;
  --faq-card-bg: #F2F5F9;
  --faq-card-hover: #FFF4DF;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/SpaceMono-Bold.woff2') format('woff2'),
      url('../fonts/SpaceMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('../fonts/LexendDeca-Regular.woff2') format('woff2'),
      url('../fonts/LexendDeca-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

 
 /* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--site-font-family); 
  background-color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
  padding-top: 22px;
  padding-bottom: 21px;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__nav {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 58px;
  text-decoration: none;
}

.site-header__logo:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.site-header__logo:active {
  opacity: 0.6;
}

.site-header__logo-img {
  display: block;
}

.site-header__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header__item {
  margin-right: 32px;
}

.site-header__link {
  text-decoration: none;
  font-weight: bold;
  color: var(--font-color);
  transition: color 0.3s ease;
}

.site-header__link:hover {
  color: var(--buttons-hover-color);
}

.site-header__link:active {
  opacity: 0.6;
}

.button {
  padding: 14px 39px;
  border: 3px solid var(--buttons-hover-color);
  background-color: var(--buttons-hover-color);
  color: #fff;
  transition: background-color 0.3s ease,
  color 0.3s ease;
  cursor: pointer;
  text-transform: capitalize;
  font-family: 'Space Mono';
}

.button:hover {
  background-color: transparent;
  color: var(--buttons-hover-color);
}

.button:active {
  opacity: 0.7;
}



/* HOME-HERO */
.home-hero {
  position: relative;
  padding-top: 153px;
  padding-bottom: 152px;
  background-image: url(../img/icon/home-hero-bg-vector.svg), url(../img/home-hero-bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% + -174px) calc(50% + 99px), calc(50% - 35px) center;
}

.first-circle {
  position: absolute;
  width: 62px;
  height: 62px;
  right: calc(50% - 565px);;
  bottom: calc(50% + -161px);
  content: "";
  border-radius: 50%;
  border: 3px solid #fff;
}

.second-circle {
  position: absolute;
  width: 62px;
  height: 62px;
  right: calc(50% - 649px);;
  bottom: calc(50% + -161px);
  content: "";
  border-radius: 50%;
  border: 3px solid #fff;
}

.thrid-circle {
  position: absolute;
  width: 62px;
  height: 62px;
  right: calc(50% - 732px);;
  bottom: calc(50% + -161px);
  content: "";
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #fff;
}

.home-hero__title {
  width: 500px;
}

.home-hero__heading {
  margin: 0 0 40px;
  padding: 0;
  font-family: 'Space Mono';
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #fff
}

.home-hero__content {
  width: 454px;
}

.home-hero__desc {
  margin: 0 0 40px 54px;
  color: #fff;
} 

.home-hero__btn {
  margin-left: 54px;
}


 /* HOME-FEATURES */
.home-features {
  position: relative;
  padding-top: 160px;
  padding-bottom: 100px;
}

.home-features__hr {
  position: absolute;
  z-index: -1;
  top: 197px;
  left: calc(50% - 680px);
  width: 974px;
  height: 10px;
  border: 1px solid transparent;
  background-color: #E5ECF4;
}

.home-features__list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: -30px;
  padding: 0;
  list-style: none;
}

.home-features__item {
  margin-left: 30px;
  width: 350px;
}

.home-features__item::before {
  display: block;
  margin-bottom: 40px;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  content: "";
  background-color: var(--buttons-hover-color);
  background-repeat: no-repeat;
  background-position: center center;
}

.home-features__item:first-child:before {
  background-image: url(../img/icon/features-list-icon-tel.png);
}

.home-features__item:nth-child(2):before {
  background-image: url(../img/icon/features-list-icon-scooter.png);
}

.home-features__item:nth-child(3):before {
  background-image: url(../img/icon/features-list-icon-super-scooter.png);
}

.feature__heading {
  margin: 0 0 27px;
  padding: 0;
  font-family: Space Mono;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--headings-color);
}

.feature__text {
  margin: 0;
}



/* HOME ADVANTAGES */
.home-advantages {
  padding-top: 100px;
  padding-bottom: 200px;
}

.home-advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: -160px;
}

.home-advantages__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;
}

.home-advantages__item::before {
  position: relative;
  width: 445px;
  height: 445px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}

.home-advantages__item:nth-child(odd) {
  flex-direction: row-reverse;
}

.advantage__inner {
  position: relative;
  width: 445px;
}

.advantage__inner::before {
  position: absolute;
  z-index: 1;
  width: 1078px;
  height: 445px;
  content: "";
  background-repeat: no-repeat;
}

.advantage-ease__inner::before {
  background-image: url(../img/advantages-1.svg);
  top: -68px;
  left: 525px;
}

.advantage-ease::before {
  background-image: url(../img/advantaegs-1.png);
}

.coming-to::before {
  background-image: url(../img/advantages-2.png);
}

.coming-to__inner::before {
  background-image: url(../img/advantages-2.svg);
  top: -67px;
  right: 580px;
}

.zero-hassle::before {
  background-image: url(../img/advantages-3.png);
}

.zero-hassle__inner::before {
  background-image: url(../img/advantages-3.svg);
  top: -67px;
  left: 914px;
}

.advantage__heading {
  margin: 0 0 24px;
  font-family: 'Space Mono';
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--headings-color);
}

.advantage__desc {
  margin: 0 0 40px;
}


/* SITE FOOTER */

.scoot-footer__top {
  padding-top: 120px;
  padding-bottom: 102px;
  background-color: var(--headings-color);
  background-image: url(../img/sign-up-bg.svg);
  background-repeat: no-repeat;
  background-position: right calc(50% - 307px) bottom calc(50% - 148px);
}

.scoot-footer__container {
  display: flex;
  align-items: center;
}

.scoot-footer__title {
  margin-right: auto;
  width: 415px;
}

.scoot-footer__heading {
  margin: 0;
  font-family: 'Space Mono';
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #fff;
}

.scoot-footer--appstore {
  margin-right: 15px;
}

.scoot-footer__bottom {
  padding-top: 35px;
  padding-bottom: 33px;
  background-color: var(--footer-color);
}

.scoot-footer__logo-link {
  margin-right: 59px;
}

.scoot-footer__logo-link:hover {
  opacity: 0.8;
}

.scoot-footer__logo-link:active {
  opacity: 0.6;
}

.scoot-footer__list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.scoot-footer__item {
  margin-right: 32px;
}

.scoot-footer__link {
  font-family: 'Space Mono';
  font-weight: bold;
  color: var(--font-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.scoot-footer__link:hover {
  color: var(--buttons-hover-color);
}

.scoot-footer__link:active {
  opacity: 0.8;
}

.scoot-footer__social-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: -24px;
  list-style: none;
}

.scoot-footer__social-item {
  margin-left: 24px;
}

path {
  transition: fill 0.3s ease;
}

.scoot-footer__social:hover path {
  fill: #E5ECF4;
}

.scoot-footer__social:active path {
  opacity: 0.6;
}

/* ABOUT */


/* ABOUT-HERO */
.about-hero {
  padding-top: 72px;
  padding-bottom: 72px;
  background-image:url(../img/icon/about-hero-circlesvg.svg), url(../img/about-hero-bg.png);
  background-repeat: no-repeat;
  background-size: 234px, contain;
  background-position: calc(50% + 600px) center, center center;
}

.about-hero__heading {
  margin: 0;
  font-family: 'Space mono';
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #fff;
}



/* about-advantages */
.about-advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-advantages__item:first-child {
  margin-bottom: 120px;
}

.about-advantages__item {
  display: flex;
  align-items: center;
}

.about-advantages__item:nth-child(odd) {
  flex-direction: row-reverse;
}

.about-advantages__item::before {
  display: block;
  flex-shrink: 0;
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-repeat: no-repeat;
  content: "";
}

.about-advantages__item:nth-child(1)::before {
  background-image: url(../img/mobillity.png);
  margin-left: 220px;
}

.about-advantages__item:nth-child(2)::before {
  background-image: url(../img/better-urban.png);
  margin-right: 220px;
}

.about-advantage__wrapper {
  width: 445px;
}

.better-urban__inner {
  position: relative;
}

.better-urban__inner::before {
  position: absolute;
  content: "";
  width: 744px;
  height: 445px;
  background-image: url(../img/better-urban-bg.svg);
  background-repeat: no-repeat;
  left: -1215px;
  bottom: -127px;
}

.mobillity__inner {
  position: relative;
}

.mobillity__inner::before {
  position: absolute;
  content: "";
  width: 1079px;
  height: 445px;
  background-image: url(../img/mobillity-bg.svg);
  background-repeat: no-repeat;
  top: -125px;
  left: 530px;
}

.about-advantage__heading {
  margin: 0 0 24px;
  font-family: 'Space mono';
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--headings-color);
}

.about-advantage__desc {
  margin: 0;
}

/* VALUES */

.values {
  padding-bottom: 120px;
}

.values__title {
  margin-bottom: 103px;
  text-align: center;
}

.values__heading {
  display: inline-block;
  margin: 0;
  font-family: 'Space mono';
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--headings-color);
}

.values__list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: -30px;
  padding: 0;
  list-style: none;
}

.values__item {
  margin-left: 30px;
  width: 350px;
  text-align: center;
}

.our-tech {
  margin-bottom: 32px;
  position: relative;
}

.our-tech::before {
  position: absolute;
  padding-top: 33px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: var(--buttons-hover-color);
  bottom: -43px;
  left: 120px;
  font-family: 'Space Mono';
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: var(--headings-color);
  content: "01";
}

.our-integrity {
  margin-bottom: 32px;
  position: relative;
}

.our-integrity::before {
  position: absolute;
  padding-top: 33px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: var(--buttons-hover-color);
  bottom: -43px;
  left: 120px;
  font-family: 'Space Mono';
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: var(--headings-color);
  content: "02";
}

.our-community {
  margin-bottom: 32px;
  position: relative;
}

.our-community::before {
  position: absolute;
  padding-top: 33px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: var(--buttons-hover-color);
  bottom: -43px;
  left: 120px;
  font-family: 'Space Mono';
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: var(--headings-color);
  content: "03";
}

.value__heading {
  margin: 87px 0 27px;
  font-family: 'Space Mono';
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--headings-color);
}

.value__desc {
  margin: 0;
}



/* FAQs */
.faqs {
  padding-bottom: 160px;
}

.faqs__heading {
  margin: 0 0 64px;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: var(--headings-color)
}

.faqs__how-it-work {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hiw__heading {
  margin: 0;
  margin-top: 15px;
  font-family: 'Space Mono';
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: var(--headings-color);
}

.hiw__cards {
  position: relative;
  margin-top: 16px;
  padding: 32px 40px;
  width: 730px;
  background-color: var(--faq-card-bg);
  transition: background-color 0.3s ease;
}

.hiw__cards:hover {
  background-color: var(--faq-card-hover);
}

.card_last {
  margin-bottom: 64px;
}

.card__heading {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  font-family: 'Space Mono';
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--headings-color);
}

.card__heading::after {
  position: absolute;
  top: 8px;
  right: 0;
  content: "";
  z-index: 1;
  width: 22px;
  height: 15px;
  background-image: url(../img/icon/button-faq.svg);
  background-repeat: no-repeat;
  transition: transform 0.8s ease;
}

.card__button {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

.card__text {
  display: none;
  margin: 0;
  color: var(--headings-color);
}

.hiw__cards_active .card__text {
  display: block;
}

.hiw__cards_active .card__heading::after {
  transform: rotate(180deg);
}

/* Careers */

.careers-hero {
  padding-top: 72px;
  padding-bottom: 72px;
  background-image:url(../img/icon/about-hero-circlesvg.svg), url(../img/careers-hero.png);
  background-repeat: no-repeat;
  background-size: 234px, contain;
  background-position: calc(50% + 600px) center, center center;
}

.careers-adv {
  padding-top: 120px;
  padding-bottom: 60px;
}

.careers-adv__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.careers-adv__item {
  display: flex;
  align-items: center;
}

.careers-adv__item:nth-child(odd) {
  flex-direction: row-reverse;
}

.careers-adv__item::before {
  display: block;
  flex-shrink: 0;
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-repeat: no-repeat;
  content: "";
}

.careers-adv__item:nth-child(1)::before {
  background-image: url(../img/careers-care.png);
  margin-left: 220px;
}

.about-advantage__wrapper {
  width: 445px;
}

.care-to-join__inner {
  position: relative;
}

.care-to-join__inner::before {
  position: absolute;
  content: "";
  width: 1079px;
  height: 445px;
  background-image: url(../img/careers-care-bg.svg);
  background-repeat: no-repeat;
  top: -125px;
  left: 530px;
}

.career-adv__heading {
  margin: 0 0 24px;
  font-family: 'Space mono';
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--headings-color);
}

.career-adv__desc {
  margin: 0;
  margin-bottom: 40px;
}



/* VALUES CAREERS */
.values-careers {
  padding-top: 60px;
}



/* WORKERS */
.workers {
  padding-bottom: 160px;
}

.workers__list {
  margin: 0;
  margin-bottom: -24px;
  padding: 0;
  list-style: none;
}

.workers__item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  padding: 32px 64px 40px 35px;
  width: 100%;
  background-color: var(--faq-card-bg);
}

.worker__inner {
  margin-right: auto;
}

.worker__heading {
  margin: 0 0 8px;
  font-family: Space Mono;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--headings-color);
}

.worker__desc {
  margin: 0;
}

.worker__btn {
  padding: 13px 66px;
}